body {
    margin: 0;
    background-color: rgba(0, 229, 255, 0.563);
  }
  

  #start-btn {
    background-color: #471bbb;
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-top: 60px;
    border-radius: 20px;
    margin: 160px;

  }


  #restart-btn {
   
    background-color: #471bbb;
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-top: 40;
    border-radius: 20px;
    margin: 20px;

  }

  #splash-screen {
    background-image: url(../images/portada2.png);
    height: 600px;
    width: 420px;
    background-size: cover;
    background-position: center; 
  } 

  #score{
    display: none ;
    color: black;
    padding: 30px;
    font-size: 30px;
    margin-top: 40px;
    border-radius: 20px;
    margin: 100px;
   
  }


  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 50px;
  }
  

  
  #my-canvas,#gameover-screen {
    display: none;
    
  }
  